
body {
  margin: 0;
  /* height: 560px; */
  /* margin-bottom: 25rem; */
}

.grid {
    /* height: 670px; */
    margin-top: 5px;
    gap: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper:hover > img.blur {
  filter: blur(5px);
}

.img-wrapper:hover > img.gray {
  filter: grayscale(1);
}

.img-wrapper:hover > img.zoom {
  transform: scale(1.1);
}

.img-wrapper > .content.fade {
  opacity: 0;
}
.img-wrapper:hover > .content.fade {
  opacity: 1;
}

.img-wrapper > .content.slide-left {
  transform: translateX(-100%);
}
.img-wrapper:hover > .content.slide-left {
  transform: translateX(0);
}

.img-wrapper > .content.slide-right {
  transform: translateX(100%);
}
.img-wrapper:hover > .content.slide-right {
  transform: translateX(0);
}

.img-wrapper > .content.slide-down {
  transform: translateY(-100%);
}
.img-wrapper:hover > .content.slide-down {
  transform: translateY(0);
}

.img-wrapper > .content.slide-up {
  transform: translateY(100%);
}
.img-wrapper:hover > .content.slide-up {
  transform: translateY(0);
}
footer{
  margin-top: 30px;
  padding-top: 10px;
  height: 55px !important;
  /* width: 350px; */
}
@media (max-width: 575px){
    header{
      height: 80px;
      background: #ff9f9f;
    }
    a:link{
      /* background: #c382c6; */
      display: flex;
      filter: grayscale(50%);
      text-decoration: none;
      color: #8a82c6;
      margin-left: 25px;
    }
    a.nav-link{
    padding-left: 5px;
    }
    footer{
      padding-top: 2px !important;
      height: 40px !important;
      width: 100%;
      margin-top: 2px ;
    }
  }